.irs
{
    position: relative;

    display: block;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

.irs.active
{
    pointer-events: auto;
}

.irs .irs
{
    margin-top: 11px;
    margin-right: 0;
    margin-bottom: 17px;
}

.irs-line
{
    position: relative;

    display: block;

    height: 2px;

    border-radius: 40px;
    background: #823949;
}

.irs-bar
{
    top: 0;
    left: 0;

    height: 2px;

    border-radius: 40px;
    background: #fbfaec;
}


.irs-from,
.irs-to,
.irs-single,
.irs-min,
.irs-max
{
    display: none !important;
}


.irs-slider
{
    z-index: 9;
    top: -4px;

    display: block;

    width: 15px;
    height: 9px;

    cursor: pointer;

    border-radius: 6px;
    background: url(../images/ic_slider_range.svg) 50% no-repeat #fff;
}

.irs-slider:before
{
    position: absolute;
    top: -10px;
    left: -10px;

    display: block;

    width: calc(100% + 20px);
    height: calc(100% + 20px);

    content: '';
    cursor: pointer;
}


.irs-line
{
    position: relative;

    display: block;

    outline: none !important;
}

.irs-line-left,
.irs-line-mid,
.irs-line-right
{
    position: absolute;
    top: 0;

    display: block;
}

.irs-line-left
{
    left: 0;

    width: 11%;
}

.irs-line-mid
{
    left: 9%;

    width: 82%;
}

.irs-line-right
{
    right: 0;

    width: 11%;
}

.irs-bar
{
    position: absolute;
    left: 0;

    display: block;

    width: 0;
}

.irs-bar-edge
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;
}

.irs-shadow
{
    position: absolute;
    left: 0;

    display: none;

    width: 0;
}

.irs-slider
{
    position: absolute;
    z-index: 1;

    display: block;
}



.irs-slider.type_last
{
    z-index: 2;
}

.irs-min
{
    position: absolute;
    left: 0;

    display: block;

    cursor: default;
}

.irs-max
{
    position: absolute;
    right: 0;

    display: block;

    cursor: default;
}

.irs-grid
{
    position: absolute;
    top: -7px;
    left: 9px !important;

    display: none;

    width: calc(100% - 19px) !important;
    height: 20px;

    pointer-events: none;
}

.irs-with-grid .irs-grid
{
    display: block;
}

.irs-grid-pol
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 1px;
    height: 20px;

    background: #fd810d;
}

.irs-grid-pol.small
{
    display: none;
}

.irs-grid-text
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: none;

    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

.irs-disable-mask
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: -1%;

    display: block;

    width: 102%;
    height: 100%;

    cursor: default;

    background: rgba(0, 0, 0, .0);
}

.lt-ie9 .irs-disable-mask
{
    cursor: not-allowed;

    background: #000;

    filter: alpha(opacity=0);
}

.irs-disabled
{
    opacity: .4;
}


.irs-hidden-input
{
    font-size: 0 !important;
    line-height: 0 !important;

    position: absolute !important;
    z-index: -9999 !important;
    top: 0 !important;
    left: 0 !important;

    display: block !important;
    overflow: hidden;

    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;

    border-style: solid !important;
    border-color: transparent !important;
    outline: none !important;
    background: none !important;
}
