@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 36px;
    }


    .swiper-button-next,
    .swiper-button-prev
    {
        display: none;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination > * + *
    {
        margin-left: 4px;
    }


    .pagination .prev
    {
        margin-right: 8px;
    }

    .pagination .next
    {
        margin-left: 8px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header .btns .btn
    {
        width: 40px;
        height: 40px;
    }


    .mob_header .btns .btn + .btn
    {
        margin-left: 8px;
    }


    .mob_header .btns .favorite_link .icon
    {
        width: 19px;
        height: 18px;
    }

    .mob_header .btns .account_btn .icon
    {
        width: 24px;
        height: 24px;
    }

    .mob_header .btns .cart_link .icon
    {
        width: 24px;
        height: 24px;
    }

    .mob_header .btns .cart_link span
    {
        display: none;
    }

    .mob_header .btns .mob_menu_btn .icon
    {
        width: 22px;
        height: 14px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 36px;
        padding-right: 0;
    }


    .block_head .all_link
    {
        position: relative;
        bottom: 0;

        width: 100%;
        margin-top: 16px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h2
    {
        font-size: 22px;

        margin-bottom: 28px !important;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .data
    {
        width: 100%;
    }


    .main_slider .percents
    {
        font-size: 40px;
        line-height: 160px;

        top: 140px;
        right: 24px;
        bottom: auto;
        left: auto;

        width: 160px;
        height: 160px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .data
    {
        width: 100%;
        padding: 48px 0;
    }


    .about_info .pre_title
    {
        margin-bottom: 40px;
    }


    .about_info .title
    {
        font-size: 40px;
    }


    .about_info .img
    {
        width: calc(100% + 48px);
        margin-left: -24px;
    }



    /*----------------------
        About experience
    ----------------------*/
    .about_experience .text
    {
        font-size: 19px;

        width: 100%;
        margin-bottom: 40px;
    }

    .about_experience .text > * + *
    {
        margin-top: 24px;
    }


    .about_experience .img
    {
        width: 100%;
    }



    /*----------------------
        About advantages
    ----------------------*/
    .about_advantages .row
    {
        margin-bottom: -48px;
        margin-left: 0;
    }

    .about_advantages .row > *
    {
        width: 100%;
        max-width: 100%;
        margin-bottom: 48px;
        margin-left: 0;
    }



    /*--------------
        About we
    --------------*/
    .about_we .title
    {
        font-size: 22px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info table tr
    {
        min-height: 208px;
        padding-left: 80px;
    }


    .cart_info table td.price,
    .cart_info table td.amount
    {
        width: 50%;
    }


    .cart_info table td.price
    {
        font-size: 20px;
    }

    .cart_info table td.price .old
    {
        font-size: 14px;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .block_title
    {
        font-size: 34px;

        margin-bottom: 24px;
    }


    .checkout_info .form .section + .section
    {
        padding-top: 40px;
    }


    .checkout_info .form .fields
    {
        width: 100%;
    }


    .checkout_info .form .row
    {
        margin-bottom: -8px;
        margin-left: 0;
    }

    .checkout_info .form .row > *
    {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }


    .checkout_info .form .title
    {
        line-height: 22px;

        margin-bottom: 16px;
    }


    .checkout_info .form .submit .agree
    {
        width: 100%;
        margin-bottom: 24px;
    }


    .checkout_info .form .submit_btn
    {
        width: 100%;
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info
    {
        margin-bottom: 72px;
    }



    /*-------------
        Banners
    -------------*/
    .banners .banner .title
    {
        font-size: 20px;
        line-height: 24px;

        padding: 40px;
    }


    .banners .banner .discount
    {
        transform: scale(.7) rotate(-21.03deg);
    }



    /*--------------
        Products
    --------------*/
    .products
    {
        margin-bottom: 72px;
    }


    .products .row,
    .content .products .row
    {
        margin-bottom: -12px;
        margin-left: -12px;

        --products_count: 2;
    }

    .products .row > *,
    .content .products .row > *
    {
        width: calc(50% - 12px);
        margin-bottom: 12px;
        margin-left: 12px;
    }


    .products .swiper-slide
    {
        width: 280px !important;
    }


    .products .product
    {
        padding: 56px 16px 16px;
    }


    .products .product .types
    {
        top: 16px;
        left: 16px;
    }


    .products .product .strength
    {
        top: 20px;
        right: 16px;
    }


    .products .product .sticker
    {
        line-height: 32px;
    }


    .products .product .thumb a
    {
        height: 188px;
    }


    .products .product .name
    {
        font-size: 16px;
    }


    .products .product .price
    {
        font-size: 19px;
    }


    .products .product .buy_btn
    {
        width: 44px;
        height: 44px;
    }


    .products .product .get_status a
    {
        line-height: 100%;

        padding: 16px 24px;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block
    {
        margin-bottom: 72px;
        padding: 72px 0;
    }


    .about_block .block_head
    {
        margin-bottom: 60px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        margin-bottom: 72px;
    }


    .contacts_info .item .label
    {
        font-size: 15px;
    }

    .contacts_info .item .val
    {
        font-size: 22px;
    }


    .contacts_info .map
    {
        height: 400px;
        margin-top: 48px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback .title
    {
        font-size: 24px;

        padding: 23px;
    }


    .feedback .form
    {
        padding: 23px;
    }


    .feedback .form .submit .agree
    {
        width: 100%;
        margin-bottom: 20px;
    }


    .feedback .form .submit_btn
    {
        width: 100%;
    }



    /*-------------
        LK info
    -------------*/
    .lk_info
    {
        margin-bottom: 72px;
    }



    /*------------------------
        LK info - personal
    ------------------------*/
    .lk_info .personal .title
    {
        font-size: 24px;
    }


    .lk_info .personal .form .submit_btn
    {
        width: 180px;
        height: 56px;
    }



    /*-------------------------
        LK info - Favorites
    -------------------------*/
    .lk_info .favorites table td.price.total
    {
        width: 50%;
    }



    /*----------------------
        LK info - Orders
    ----------------------*/
    .lk_info .orders .col_number,
    .lk_info .orders .col_date,
    .lk_info .orders .col_amount,
    .lk_info .orders .col_status
    {
        width: 33.333%;
        min-width: 0;
    }

    .lk_info .orders .col_status
    {
        margin-top: 16px;
    }

    .lk_info .orders .col_delivery
    {
        width: 66.666%;
    }

    .lk_info .orders .col_price
    {
        width: 33.333%;
    }


    .lk_info .orders .order .data
    {
        padding: 0;

        border: none;
    }


    .lk_info .orders .order thead
    {
        display: none;
    }

    .lk_info .orders .order tr
    {
        display: flex;

        padding: 24px;

        border-top: 1px solid rgba(255, 255, 255, .37);

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }


    .lk_info .orders .order td
    {
        position: relative;

        display: block;

        width: calc(33.333%);
        padding: 0;
        padding-top: 24px;

        border: none;
    }

    .lk_info .orders .order td + td
    {
        padding-left: 0;
    }

    .lk_info .orders .order th:first-child,
    .lk_info .orders .order td:first-child
    {
        padding: 0;
    }


    .lk_info .orders .order td:before
    {
        font-size: 13px;
        font-weight: normal;
        line-height: 17px;

        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 100%;

        content: attr(data-column);
        text-align: left;
        letter-spacing: 0;
        text-transform: none;

        opacity: .5;
    }


    .lk_info .orders .order td.name
    {
        width: 100%;
        margin-bottom: 16px;
        padding: 0;
    }



    /*-------------------------------
        LK info - recommendations
    -------------------------------*/
    .lk_info .recommendations .product .info
    {
        max-width: calc(100% - 40px);
        padding-right: 64px;
    }


    .lk_info .recommendations .product .name
    {
        font-size: 18px;
    }


    .lk_info .recommendations .product .row + .row
    {
        margin-top: 20px;

        align-items: center;
        align-content: center;
    }


    .lk_info .recommendations .product .mob_sep
    {
        display: block;
    }


    .lk_info .recommendations .product .price
    {
        font-size: 18px;

        width: 72px;
    }


    .lk_info .recommendations .product .buy_btn
    {
        width: 44px;
        height: 44px;
    }



    /*-------------
        LK menu
    -------------*/
    .lk_menu .row > *
    {
        width: calc(50% - 8px);
    }



    /*------------------
        Product info
    ------------------*/
    .product_info
    {
        margin-bottom: 72px;
    }


    .product_info .image
    {
        height: 360px;
    }


    .product_info .product_name
    {
        font-size: 26px;
    }


    .product_info .price
    {
        font-size: 28px;

        min-width: 160px;
    }

    .product_info .price .old
    {
        font-size: 15px;

        margin-top: 4px;
    }


    .product_info .desc,
    .product_info .features
    {
        width: 100%;
    }

    .product_info .features
    {
        margin-top: 28px;
    }


    .product_info .volumes
    {
        margin-bottom: 12px;
    }


    .product_info .buy_btn,
    .product_info .on_order_btn
    {
        margin-right: auto;
    }



    /*---------------------
        Set composition
    ---------------------*/
    .set_composition
    {
        margin-bottom: 72px;
    }


    .set_composition .block_title
    {
        font-size: 32px;
        line-height: 34px;

        margin-bottom: 28px;
    }


    .set_composition .product
    {
        flex-wrap: wrap;
    }


    .set_composition .product .compound,
    .set_composition .product .info,
    .set_composition .product .col_right
    {
        width: calc(100% - 112px);
        min-width: 0;
        margin-left: auto;
        padding: 23px;

        border-left: 1px solid #823949;

        order: 2;
    }

    .set_composition .product .info,
    .set_composition .product .col_right
    {
        padding-top: 0;
    }


    .set_composition .product .thumb
    {
        padding: 23px;

        border: none;

        order: 1;
    }



    /*----------------
        Categories
    ----------------*/
    .categories
    {
        margin-bottom: 72px;
    }


    .categories .row
    {
        margin-bottom: -24px;
        margin-left: 0;
    }

    .categories .row > *,
    .categories .row > *.big
    {
        width: 100%;
        margin-bottom: 24px;
        margin-left: 0;
    }


    .categories .row > *:nth-child(1)
    {
        border-radius: 24px 24px 0 0;
    }

    .categories .row > *:nth-child(2)
    {
        border-radius: 0;
    }

    .categories .row > *:nth-last-child(2)
    {
        border-radius: 0 0 24px 24px;
    }


    .categories .category
    {
        height: 180px;
    }


    .categories .category .name
    {
        top: 108px;
    }


    .categories .category .thumb
    {
        transform: scale(.45);
    }

    .categories .category .thumb1
    {
        right: -24px;
        bottom: -148px;
    }

    .categories .category .thumb2
    {
        right: -52px;
        bottom: -140px;
    }

    .categories .category .thumb3
    {
        right: -100px;
        bottom: -132px;
    }

    .categories .category .thumb5
    {
        right: -80px;
        bottom: -128px;
    }

    .categories .category .thumb4
    {
        right: -148px;
        bottom: -168px;
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        margin-bottom: 72px;
    }


    .articles .swiper-slide
    {
        width: calc(100vw - 72px);
    }


    .articles .article .info
    {
        position: relative;

        margin-top: 20px;
        padding: 0;
    }

    .articles .article .name
    {
        font-size: 20px;
    }



    /*------------
        Brands
    ------------*/
    .brands
    {
        margin-bottom: 72px;
    }


    .brands .block_head
    {
        margin-bottom: 40px;
    }


    .brands .swiper-slide
    {
        width: 180px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        margin-bottom: 72px;
    }


    .advantages .row
    {
        margin-left: 0;
    }

    .advantages .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .advantages .item
    {
        padding: 80px 24px 64px;
    }

    .advantages .item:nth-child(1)
    {
        border-radius: 24px 24px 0 0;
    }

    .advantages .item:nth-child(3)
    {
        border-radius: 0 0 24px 24px;
    }



    /*------------
        Footer
    ------------*/
    footer .col_left
    {
        width: 100%;
        margin-bottom: 40px;
    }



    footer .socials
    {
        margin-bottom: 40px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 48px 40px;
    }


    .modal_title
    {
        font-size: 28px;
    }


    .modal .form
    {
        margin-top: 40px;
    }


    .modal .btns
    {
        margin-top: 40px;
    }

    .modal .btns .btn + .btn
    {
        margin-left: 24px;
    }



    #confirm_age_modal
    {
        padding-top: 68px;
        padding-bottom: 68px;
    }



    #on_order_modal
    {
        padding-top: 80px;
        padding-right: 28px;
        padding-bottom: 40px;
        padding-left: 28px;
    }


    #on_order_modal .product .desc
    {
        width: 100%;
    }

    #on_order_modal .product .amount
    {
        margin-left: 0;
    }
}
